.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wrapper {
    display: flex;
    min-height: 600px;
    margin: 3% 15% 0 15%;
    flex-direction: column;
    background-color: white;
    border: solid lightgrey;
    filter: drop-shadow(5px 5px 5px grey);
    padding: 3% 3% 5% 3%;
}

.titleContainer{
    display: flex;
    justify-content: center;
    margin: 3% 15% 0 15%;
}

.title{
    font-family: Poppins, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 30px;
    color: #52997F;
    -webkit-text-stroke: 2px #C9D5B5;
}

.titleLine{
    margin-top: 2%;
    background-color: black;
    color: black;
    height: 1px;
    width: 90%;
}

.card {
    display: flex;
    min-height: 90px;
    min-width: 60%;
    margin: 1% 10% 0 10%;
    background-color: white;
    border: solid lightgrey;
    filter: drop-shadow(3px 3px 3px grey);
    padding: 3% 3% 0 3%;flex-wrap: wrap;
}

.input{
    max-height: 30px;
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 10px;
}

.longInput{
    max-height: 30px;
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 10px;
}

.descriptionBody{
    display: flex;
    flex-direction: column;
    min-width: 90%;
    padding-bottom: 5%;
}

.description{
    min-width: 90%;
    margin-left: 3%;
    margin-right: 3%;
    border-radius: 10px;
    min-height: 150px;
}

.buttonWrapper{
    display: flex;
    justify-content: center;
    margin-top:  3%;
}
.sendButton{
    margin-top: 2%;
    min-width: 200px;
    padding: 20px 40px 20px 40px;
}

.add{
    width: 100px;
    background-color: rgb(201,213,181);
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    height: 24px;
}