.menuContainer{
    display: flex;
    justify-content: end;
    align-items: center;
    flex-basis: 50%;
}
.loginButton{
    height: 42px;
    width: 91px;
    margin-right: 22px;
    border: 2px solid #6D6466;
    border-radius: 3px;
    background-color: #6D6466;
    font-size: 14px;
    line-height: 26px;
}
.loginButton:hover{
    background-color: #5e595a;
    cursor: pointer;
}
.signupButton{
    height: 42px;
    width: 91px;
    border: 2px solid #52997F;
    border-radius: 3px;
    margin-right: 58px;
    background-color: #52997F;
    font-size: 14px;
    line-height: 26px;
}
.signupButton:hover{
    background-color: #24966b;
    cursor: pointer;
}
